<!DOCTYPE html>
<html>
  <head>
    <title>Pedidos</title>
  </head>
  <body>
    <h1>Lista de Pedidos</h1>

    <table border="1">
      <!-- Cabeçalho da Tabela -->
      <thead>
        <tr>
          <th>Número</th>
          <th>Prazo</th>
          <th>Cliente</th>
          <th>Vendedor</th>
        </tr>
      </thead>

      <!-- Corpo da Tabela -->
      <tbody id="tabela-corpo">
        <!-- Linhas serão inseridas aqui -->
      </tbody>

      <!-- Rodapé da Tabela -->
      <tfoot id="tabela-rodape">
        <tr>
          <th scope="row" colspan="3">Pedidos</th>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
